@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC5-Dapper</h1>
    <p class="lead">Dapper - a simple object mapper for .Net</p>
    <p><a href="https://github.com/StackExchange/dapper-dot-net" class="btn btn-primary btn-lg" target="_blank">Learn more about dapper &raquo;</a></p>
</div>

